	        html,
        body {
          margin: 0;
}

.banner {
  background: #000000;
  height: 65px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.banner__content {
  padding: 10px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  width: 100%;
}

.banner__text {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  line-height: 2.4;
  margin: 0;
}

.banner__button {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  background: transparent;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; 
}

.Main__text {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}
